{{ $ := .root }}
{{ $page := .page }}
{{ $pubs_len := len (where $.Data.Pages "Type" "publication") }}

<!-- Publications widget -->
<div class="row">
  <div class="col-xs-12 col-md-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ if gt $pubs_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ "/publication/" | relLangURL }}">
        {{ i18n "more_publications" | markdownify }}
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}
  </div>
  <div class="col-xs-12 col-md-8">
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

<!-- Added by labra...
   <div class="project-toolbar">
      <div id="filters">
        <div class="btn-toolbar">
          <div class="btn-group">
          --{ range $page.Params.filter }}
            <a href="#" data-filter="--{ .tag }}" class="btn btn-primary btn-large--{ if eq .tag "*" }} active--{ end }}">--{ .name }}</a>
          --{ end }}
          </div>
        </div>
      </div>
    </div> -->
	
    {{ if $page.Params.detailed_list }}
    {{ range first $page.Params.count (where $.Data.Pages "Type" "publication") }}
    {{ partial "publication_li_detailed" . }}
    {{ end }}
    {{ else }}
    <div id="container-projects" class="isotope">
     <ul class="fa-ul" style="position: relative">
      {{ range first $page.Params.count (where $.Data.Pages "Type" "publication") }}
	  {{ partial "publication_li_simple" . }}
      {{ end }}
     </ul>
	</div> 
    {{ end }}

	<!--Added by labra -->
    {{ if gt $pubs_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ "/publication/" | relLangURL }}">
        All publications
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}

  </div>
</div>
