{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "header_image.html" . }}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Co-authors</h1>

	 <p> Writing all taxonomies...</p>
{{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
{{ $taxonomyname }}

    {{ range $key, $value := $taxonomy }}
    {{ $key }}
        {{ range $value.Pages }}
        {{ .LinkTitle }}
        {{ end }} 
	{{ end }} 

{{ end }}
    </div>
  </div>
</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
